:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

math-field {
  --selection-background-color: #7799ff;
  --selection-background-color-focused: #7799ff;
  --selection-color: rgba(255, 255, 255, 0.87);
  --contains-highlight-background-color: #00000000;
  font-size: 3rem;
}

.selector-container {
  display: flex;
  justify-content: center;
}

.selector {
  border-radius: 32px;
  width: fit-content;
  overflow: auto;
  padding: 0 4px;
  margin: 2rem;
  border: 1px solid
}

.selector input[type=button]:hover {
  font-weight: bold;
  background-color: transparent;
}

.selector span {
  font-size: 1em;
}

.selector input[type=button], input[type=text] {
  display: inline-block;
  width: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 0;
  height: 2.5rem;
}

.tabs {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.tabs__label {
  padding: 10px 16px;
  cursor: pointer;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  display: none;
}

.tabs__radio:checked+.tabs__label {
  font-weight: bolder;
  border-bottom: 2px solid;
}

.tabs__radio:checked+.tabs__label+.tabs__content {
  display: initial;
}

.input {
  font-size: 2rem;
  margin: 2rem 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  math-field {
    --selection-color: #000;
  }
}

@media not (pointer: coarse) {
  math-field::part(virtual-keyboard-toggle) {
    display: none;
  }
}
